.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.apiGetBookCount:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__cYw1P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetIncome:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bHalM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__nnN25 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetbalance:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___0Gc8Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__cYlE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetBalanceOnlineVisit:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__n9Um5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__vi5Kt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetTotalOnlineVisit:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__k5Nlb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__fXkUc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiGetTotal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vwrZx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text__cBe2K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.apiExpectedIncome:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jkjM2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.text___1SaRk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__kYuwF {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 9px;
  grid-column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kYuwF {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.bookcount {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-color: var(--token-G4EvLLBJKD7i);
  border-top-width: 5px;
  border-right-color: var(--token-BU1JCAY6hntB);
  border-right-width: 3px;
  border-left-color: var(--token-BU1JCAY6hntB);
  border-left-width: 3px;
  border-bottom-color: var(--token-BU1JCAY6hntB);
  border-bottom-width: 3px;
  background: #ffffff;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__evEyR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__b3Aos {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.balance {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 5px;
  border-top-color: var(--token-U2IgSncNyCpY);
  border-right-width: 3px;
  border-left-width: 3px;
  border-bottom-width: 3px;
  border-right-color: var(--token-BU1JCAY6hntB);
  border-left-color: var(--token-BU1JCAY6hntB);
  border-bottom-color: var(--token-BU1JCAY6hntB);
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__dalvH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__z2Vk5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.text__wU7FH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.freeBox__kBu21 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kBu21 {
    animation: none;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }
}
.dialogTransfer:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogTransfer:global(.__wab_instance):global(.__wab_instance) {
    animation: none;
    margin-top: 0px;
    width: 106px;
    flex-shrink: 0;
  }
}
.button:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance) {
    animation: none;
    margin-right: 8px;
    width: auto;
    margin-top: 0px;
  }
}
.svg__qubDa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4WV6S {
  animation: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___4WV6S {
    animation: none;
    font-size: var(--token-VrIY9r5RDQZ_);
  }
}
.svg__a7An6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sqlc8 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sqlc8 {
    animation: none;
  }
}
.transferToAnotherWallet:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .transferToAnotherWallet:global(.__wab_instance) {
    animation: none;
  }
}
.dialogSettlement:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogSettlement:global(.__wab_instance):global(.__wab_instance) {
    animation: none;
  }
}
.btnSettlement:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  margin-top: 0px;
  flex-shrink: 1;
  height: 25px;
  width: 115px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .btnSettlement:global(.__wab_instance) {
    animation: none;
    width: auto;
  }
}
.svg__yydnw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y4Il3 {
  animation: none;
  font-size: var(--token-VrIY9r5RDQZ_);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__y4Il3 {
    animation: none;
    font-size: var(--token-VrIY9r5RDQZ_);
  }
}
.svg__s25Bh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zAvKa {
  animation: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zAvKa {
    animation: none;
    font-size: var(--token-VrIY9r5RDQZ_);
    font-weight: 700;
  }
}
.settlement:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.balance2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 5px;
  border-top-color: var(--token-G4EvLLBJKD7i);
  border-right-width: 3px;
  border-left-width: 3px;
  border-bottom-width: 3px;
  border-right-color: var(--token-BU1JCAY6hntB);
  border-left-color: var(--token-BU1JCAY6hntB);
  border-bottom-color: var(--token-BU1JCAY6hntB);
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__slqAu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__nZLzB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.text__smq6C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.income {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-color: var(--token-G4EvLLBJKD7i);
  border-top-width: 5px;
  border-right-color: var(--token-BU1JCAY6hntB);
  border-right-width: 3px;
  border-bottom-color: var(--token-BU1JCAY6hntB);
  border-bottom-width: 3px;
  border-left-color: var(--token-BU1JCAY6hntB);
  border-left-width: 3px;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__ghfTz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__r7Erz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.totalincome {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-top-width: 5px;
  border-top-color: var(--token-G4EvLLBJKD7i);
  border-right-color: var(--token-BU1JCAY6hntB);
  border-right-width: 3px;
  border-left-color: var(--token-BU1JCAY6hntB);
  border-left-width: 3px;
  border-bottom-color: var(--token-BU1JCAY6hntB);
  border-bottom-width: 3px;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-style: solid;
}
.text__blbe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 100;
  min-width: 0;
}
.text__dmh0V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
.text__ulU7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 600;
  min-width: 0;
}
