.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#f1f5f9, #f1f5f9), #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffectPageLoad:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
  background: none;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__lNlGg {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.accordion:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: none;
  pointer-events: auto;
  min-width: 0;
}
.accordionItem__qd4Hh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  width: 100%;
  margin-top: 0px;
  padding-right: 0;
  padding-left: 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  align-content: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 10px;
}
.freeBox__p3B8 {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6CyNu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__xCqg4 {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
}
.text__hfEHw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 10px;
}
.svg__jXmQ {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 25px;
  margin-right: 0px;
  flex-shrink: 0;
}
.freeBox__bh0An {
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 8px;
}
.freeBox__j2Cw1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___5UNeU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5UNeU {
    font-size: var(--token-M9gejr4ASxII);
  }
}
.freeBox__n69DW {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n69DW {
    padding-right: 20px;
  }
}
.freeBox__qnWgP {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qnWgP {
    padding: 0px;
  }
}
.text__g2BD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g2BD {
    font-size: var(--token-M9gejr4ASxII);
  }
}
.text___3E4U8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3E4U8 {
    font-size: var(--token-M9gejr4ASxII);
    font-weight: 400;
  }
}
.freeBox__khydI {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__khydI {
    padding-right: 20px;
  }
}
.freeBox__p6Tq5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p6Tq5 {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.text__nkVDh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nkVDh {
    font-size: var(--token-M9gejr4ASxII);
  }
}
.text__oqh8V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oqh8V {
    font-size: var(--token-M9gejr4ASxII);
    font-weight: 400;
  }
}
.freeBox__sc0Xd {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sc0Xd {
    width: 100%;
    height: auto;
    max-width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 8px 20px 8px 8px;
  }
}
.freeBox__miYnV {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__miYnV {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0px;
    column-gap: 0px;
    min-width: 0;
    padding: 0px;
  }
}
.text___3J3Tg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3J3Tg {
    font-size: var(--token-M9gejr4ASxII);
  }
}
.text__p3XiY {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__p3XiY {
    font-size: var(--token-M9gejr4ASxII);
    font-weight: 400;
  }
}
.freeBox__vg6LR {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox__x3C9N {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__yRgCt {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #e5d82d;
  flex-shrink: 0;
  display: none;
}
.text___9EXf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: center;
  margin-right: 10px;
  color: #ff0000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9EXf {
    font-size: var(--token-VrIY9r5RDQZ_);
  }
}
.freeBox___1VOtb {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__bwI7L {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button__eFvtg:global(.__wab_instance) {
  max-width: 100%;
}
.svg__bDztd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ocswh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordionItem__zJ0OU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  align-content: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  display: none;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
.pcls_SnSZb7E50vV7 {
  color: #ffffff;
  outline: none;
}
.freeBox__mmYoP {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mVSt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.svg__wlvVj {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
}
.text__kFvDa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kFvDa {
    font-weight: 700;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-right: 5px;
    padding-right: 0px;
    font-size: var(--token-M9gejr4ASxII);
    text-align: center;
  }
}
.svg__iC8U1 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 25px;
  flex-shrink: 0;
}
.freeBox___7F8Xa {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7F8Xa {
    padding: 0px;
  }
}
.freeBox__jo7Lv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jo7Lv {
    flex-direction: column;
    column-gap: 0px;
  }
}
.text__iOa2Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  color: #040404;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iOa2Q {
    font-size: var(--token-M9gejr4ASxII);
    position: relative;
    left: auto;
    top: auto;
  }
}
.freeBox__m3KK9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.svg__hfLh8 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 30px;
  color: var(--token--ypw6enySR1T);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__hfLh8 {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: var(--token--ypw6enySR1T);
    flex-shrink: 0;
  }
}
.text__k1Lu9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  padding-left: 0px;
  color: #ff0000;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__k1Lu9 {
    font-size: var(--token-M9gejr4ASxII);
    white-space: pre-wrap;
  }
}
.freeBox___4H5NI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
  display: none;
  padding: 8px;
}
.svg__piHlc {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 30px;
  color: var(--token--ypw6enySR1T);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__piHlc {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: var(--token--ypw6enySR1T);
    flex-shrink: 0;
  }
}
.text__db8Wu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  padding-left: 0px;
  color: #ff0000;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__db8Wu {
    font-size: var(--token-VrIY9r5RDQZ_);
    white-space: pre-wrap;
  }
}
.freeBox__xXvfl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 0;
  display: none;
  padding: 8px;
}
.svg__uxMh1 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 30px;
  color: var(--token--ypw6enySR1T);
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__uxMh1 {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    color: var(--token--ypw6enySR1T);
    flex-shrink: 0;
  }
}
.text__ztPq4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  padding-left: 0px;
  color: #ff0000;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ztPq4 {
    font-size: var(--token-VrIY9r5RDQZ_);
    white-space: pre-wrap;
  }
}
.freeBox__mcGom {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__hvtXe {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hvtXe {
    padding: 0px;
  }
}
.freeBox__eazVu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eazVu {
    grid-column-end: span 2;
    padding: 0px;
  }
}
.text__x9KjB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x9KjB {
    min-width: 90px;
    font-size: var(--token-VrIY9r5RDQZ_);
    text-align: left;
    margin-left: 5px;
    width: auto;
  }
}
.txtShowRpey2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__skIcM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jfb1N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tiyU8 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tiyU8 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.freeBox__tzgeC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tzgeC {
    grid-column-end: span 2;
    padding: 8px 0px 0px;
  }
}
.text__hk1P {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hk1P {
    min-width: 90px;
    font-size: var(--token-VrIY9r5RDQZ_);
    text-align: left;
    margin-left: 5px;
    width: auto;
    height: auto;
    max-width: 100%;
    padding-bottom: 0px;
  }
}
.txtShowRpey3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__fmPlh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3J0RF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nLux {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__nLux {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.freeBox___9TlTw {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__insXp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ch5P8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ch5P8 {
    font-size: var(--token-VrIY9r5RDQZ_);
  }
}
.freeBox__nelN5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nelN5 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.text__imPcw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #2c963b;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__imPcw {
    font-size: var(--token-M9gejr4ASxII);
    font-weight: 700;
  }
}
.freeBox__xZsm4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__pRh9:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dxc5W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wuDlM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.accordionItem__dhpdk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__ruOwi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__r532U {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mjSF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 0px;
}
.text__vJe33 {
  position: relative;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__t3ChA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.freeBox__sMe6D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sMe6D {
    grid-column-end: span 2;
    padding-left: 8px;
  }
}
.text__ogZ2D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ogZ2D {
    min-width: 90px;
    font-size: var(--token-M9gejr4ASxII);
  }
}
.textShowIban:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__avSyz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vjDc4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sc0Gt {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__sc0Gt {
    width: 20px;
    flex-shrink: 0;
  }
}
.freeBox___0NpsW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0NpsW {
    grid-column-end: span 2;
  }
}
.text__rgTrj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rgTrj {
    min-width: 90px;
    font-size: var(--token-M9gejr4ASxII);
  }
}
.txtShowRpey:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__f0BtF {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ofkqX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dEsHu {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__dEsHu {
    width: 20px;
    flex-shrink: 0;
  }
}
.freeBox__bnRs {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bnRs {
    grid-column-end: span 2;
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.text__p5Gc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  min-width: 120px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__p5Gc {
    min-width: 90px;
    font-size: var(--token-M9gejr4ASxII);
  }
}
.txtShowAmount:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wfit3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__abvDv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__x9ZwD {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__x9ZwD {
    width: 20px;
    flex-shrink: 0;
  }
}
.freeBox__yJ2I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__lV6Oe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__lWqgb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ghKqx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sj20R {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jsTy7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.txtPayaRpey:global(.__wab_instance) {
  max-width: 100%;
}
.svg__yuUlk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7Qs4Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__hpZrV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
.button__hfiN:global(.__wab_instance) {
  max-width: 100%;
  margin-top: 0px;
}
.svg__yvN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__l1Ynf {
  padding-right: 0px;
}
.svg__pSVoY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__wdnVf {
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  align-content: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  border-radius: 10px;
  padding: 8px 0;
  border: 1px solid #ffffff;
}
.freeBox___4FbhQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__r7PKp {
  margin-right: 0px;
  display: flex;
}
.button__dXx1Q:global(.__wab_instance) {
  max-width: 100%;
}
.svg__wgBNo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__aAE {
  margin-right: 20px;
  margin-left: 20px;
}
.svg__yFxU4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffectAutoverify:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
