.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-ye_2vPBw9s4z);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__ao3K {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-ye_2vPBw9s4z);
}
.radio__i5Hwb:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__gg9Gy:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__mf2BO:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
