.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-xTBscVWRrr2u);
  font-family: var(--token-8Al4_gnFV7n6);
  font-size: var(--token-04SgybE9vu2x);
  line-height: var(--token-RZCi5yJONshx);
  width: 100%;
  column-gap: var(--token-1Jn_NAma2I6P);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__rpCmA {
  display: flex;
  position: relative;
  width: var(--token-YWc-MmMS5YAt);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--token-YWc-MmMS5YAt);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 99px;
  border: 2px solid var(--token-OnRh3NAH9mVp);
}
.ariaRadio[data-selected] .freeBox__rpCmA {
  background: var(--token-G4EvLLBJKD7i);
  border-color: var(--token-G4EvLLBJKD7i);
}
.ariaRadio[data-focus-visible] .freeBox__rpCmA {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-G4EvLLBJKD7i);
  outline-width: 2px;
}
.freeBox__s5WGs {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__s5WGs {
  width: var(--token-u_v_ODCByfTr);
  height: var(--token-u_v_ODCByfTr);
  flex-shrink: 0;
  display: block;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
