.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
}
.freeBox__r80Vs {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r80Vs {
    padding: 0px;
  }
}
.freeBox__t0Rh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t0Rh {
    padding: 0px;
  }
}
.text__lEhl6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lEhl6 {
    font-size: var(--token-VrIY9r5RDQZ_);
  }
}
.freeBox__e3IM3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e3IM3 {
    padding: 5px;
  }
}
.txtSettlemenAmount:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__daHvn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wl7Ga {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__eyJiv {
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__eyJiv {
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__kjja3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kjja3 {
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
  }
}
.text__voq2J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__voq2J {
    font-size: var(--token-VrIY9r5RDQZ_);
    white-space: pre;
  }
}
.freeBox__j3Gan {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j3Gan {
    width: 100%;
    height: auto;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    column-gap: 0px;
    min-width: 0;
    padding: 5px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___9F1N0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___0ZvXk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.txtCardNumber:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__azsY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9X32B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__bxkmu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-end: span 4;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bxkmu {
    display: flex;
    flex-direction: row;
    row-gap: 0px;
  }
}
.text__iEwVb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iEwVb {
    font-size: var(--token-VrIY9r5RDQZ_);
  }
}
.button__jYdSt:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__jYdSt:global(.__wab_instance) {
    margin-right: 8px;
  }
}
.svg__kWy8N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mU7U {
  font-size: var(--token-VrIY9r5RDQZ_);
  margin: 5px 10px;
}
.svg__kEpCe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__md5Re {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__md5Re {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.freeBox__zoIlu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-end: span 3;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zoIlu {
    grid-column-end: span 4;
  }
}
.button__fyIWn:global(.__wab_instance) {
  max-width: 100%;
  width: 300px;
}
.svg__b8I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bjVlh {
    font-size: var(--token-M9gejr4ASxII);
  }
}
.svg__okRfG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
