.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__qtCA {
  display: grid;
  position: relative;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jVgco {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.txtCardNumber:global(.__wab_instance) {
  max-width: 100%;
}
.svg__hrF0U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8EeK4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___43UPa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-VrIY9r5RDQZ_);
  color: var(--token--ypw6enySR1T);
  padding-right: 10px;
  padding-top: 2px;
  font-family: var(--iran-sans-x);
  font-weight: 400;
  font-style: normal;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__usuGh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___6TxmC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__vetZa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zbSlP {
  font-family: var(--iran-sans-x);
  font-size: var(--token-M9gejr4ASxII);
  font-weight: 700;
  font-style: normal;
  color: #ededec;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__ofgj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9WOyF {
  object-fit: cover;
  max-width: 100%;
  margin-right: 10px;
  height: 1em;
  flex-shrink: 0;
}
